body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title{
    text-align: center;
    margin-top: 55px;
}

.sub__title{
    text-align: center;
    display: flex; 
    justify-content: center;
    margin: 20px;
}

.form__todo__list{
    display: flex;
    justify-content: center;
    margin: 20px;    
}


.input__task {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button__aadTask {
  padding: 8px 12px;
  margin-left: 5px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

#task-list {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

#task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

#task-list button {
  background: transparent;
  border: none;
  cursor: pointer;
}



















/* Alertas */
#alert-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  width: auto;
}

.alert {
  padding: 12px 20px;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 10px;
  min-width: 250px;
  text-align: center;
  animation: fadeIn 0.3s ease;
}

/* Tipos */
.alert-success { background: #28a745; }
.alert-error { background: #dc3545; }
.alert-warning { background: #ffc107; color: #000; }

/* Animación */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}